<script>
import ResultCard from '../components/ResultCard.vue'
import GoogleLogin from 'vue-google-login'
import InputCard from '../components/InputCard.vue'
import axios from 'axios'

export default {
    name: 'DashboardPage',
    props: {

    },
    components: { GoogleLogin, ResultCard, InputCard },
    data() {
        return {
            params: {
                client_id: "192356990189-cu60n76m85i38t39gug7svaotil1itcs.apps.googleusercontent.com"
            },
            // only needed if you want to render the button with the google ui
            renderParams: {
                width: 250,
                height: 50,
                longtitle: true,
            }
        }
    },
    methods: {
        onSuccess(googleUser) {
            console.log(googleUser);
			let access_token = localStorage.getItem('access_token');
			axios
			.post('https://osmium-auth.herokuapp.com/users/logout/', {
				access_token: access_token,
			})
			.then(() => {
				localStorage.removeItem("access_token");
				localStorage.removeItem("refresh_token");
				this.$router.push({name: 'LandingPage'})
			});
        },
        onFailure(googleUser) {
            console.log(googleUser);
            this.$router.push({name: 'LandingPage'})
        }
    }
}
</script>

<template>
    <div class="dashboard">
        <div class="heading">
            <h1 class="title">Dashboard</h1>
            <div>
                <GoogleLogin :params="params" :onSuccess="onSuccess" :onFailure="onFailure" :logoutButton=true :renderParams="renderParams" class="logout-button">
                    Logout</GoogleLogin>
            </div>
        </div>
        <div class="heading">
            <InputCard></InputCard>
            <ResultCard></ResultCard>
        </div>
    </div>
</template>

<style scoped>
h1.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 121px;
    /* identical to box height */
    color: #85A8BA;
    margin: 0;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}
.logout-button {
    background-color: #5d91ad;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top : 3rem;
    border-radius: 15px;
}
</style>
