<script>
import GoogleLogin from 'vue-google-login'
import axios from 'axios'

export default {
  name: 'LandingPage',
  props: {},
  components: {GoogleLogin},
  data() {
    return {
      loading: false,
      params: {
        client_id: "192356990189-cu60n76m85i38t39gug7svaotil1itcs.apps.googleusercontent.com"
      },
      // only needed if you want to render the button with the google ui
      renderParams: {
        width: 250,
        height: 50,
        longtitle: true,
      }
    }
  },
  methods: {
    onSuccess(googleUser) {
      console.log(googleUser);
      let accesstoken = ''

      for (const item in googleUser) {
        if (googleUser[item].access_token !== undefined) {
          accesstoken = googleUser[item].access_token
          break;
        }
      }
      this.loading = true ;
      axios
          .post('https://osmium-auth.herokuapp.com/users/login/', {
            g_access_token: accesstoken,
            client_id: 'jFRSJnY6KFEDkiDFuVRikfXMz05WnxSYU9cYBn8I',
            client_secret:
                '7cNkZarLlyU514U0d0gd2NRbYEpz5tDDcgglmt8LmjBQvlmUaT6QmLaaKMpgBR5EKV0GZdqxAUVqd3GFWBC9W7pL5W3BUMJ2ijaHGmtNLM6OplYbgg2lKMSKL42wzjBE',
          })
          .then((res) => {
            this.loading = false;
            localStorage.setItem('access_token', res.data.data.access_token);
            localStorage.setItem('refresh_token', res.data.data.refresh_token);
            this.$router.push({name: 'DashboardPage'})
          })
          .catch((err) => {
            this.loading = false
            alert(err)
          });

    },
    onFailure(googleUser) {
      console.log(googleUser);
    }
  }
}
</script>

<template>
  <div>
    <div v-if="loading">
      <div class="spiner"></div>
    </div>
    <div class="landing-page" v-if="!loading">
      <div class="title-section">
        <h1 class="title">Osmium</h1>
        <h2 class="subtitle">Kompresor file online gratis.
          Hanya perlu memasukkan link gdrive dari file yang ingin dikompresi.</h2>
      </div>
      <div class="login-section">
        <h2 class="login-info">
          Anda harus login untuk mengompresi file
        </h2>
        <GoogleLogin :params="params" :onSuccess="onSuccess" :onFailure="onFailure" :renderParams="renderParams">Login
        </GoogleLogin>
      </div>
    </div>

    <!-- <GoogleLogin 
		:params="params" 
		:logoutButton=true
		:renderParams="renderParams">Logout</GoogleLogin> -->
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.landing-page {
  display: flex;
  height: 100vh;
}

.title-section {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 100px 0 64px;
}

.login-section {
  flex-basis: 45%;
  background: #85A8BA;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 64px 0 64px;
  text-align: end;
}

h2.subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;

  color: #96B6C5;
  margin: 0;
}

h1.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 121px;
  /* identical to box height */
  color: #85A8BA;
  margin: 0;

}

.login-info {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  padding-left: 100px;

  color: #E4DECB;
}

.spiner{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: url('~@/assets/loading.svg') center no-repeat #fff;
}

</style>
