<template>
  <div class="center-container">
    <h2 class="title">Your Compressed files will be showed here</h2>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h2.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
</style>
