<template>
  <div class="card">
    <div>
      <p class="detail">{{ filecard.results[0].time_request }}</p>
      <p class="progress">{{ filecard.results[0].progress }}</p>
      <div v-if="filecard.download_url">
        <button @click="getDownload()" class="btn-blue">
          Download File Here
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "FileCard",
  components: {},
  props: {
    id_prop: { type: String, required: true },
  },
  data() {
    return {
      filecard: {
        download_url: null,
        results: [{
          time_request: "none",
          progress: "none",
        }]
      },
      pollInterval: null,
    };
  },
  methods: {
    fetchData() {
      let accessToken = localStorage.getItem("access_token");

      let config = {
        headers: {
          Authorization: `Bearer ${accessToken}`,
        },
      };
      axios
        .get("/api/file/requests/" + this.id_prop + "/", config)
        .then((res) => (this.filecard = res.data))
    },
    getDownload(){
      this.fetchData();
      window.open(this.filecard.download_url);
    }
  }, mounted() {
    this.fetchData();
    if (this.filecard.link_download == null) {
      this.pollInterval = setInterval(() => {
        this.fetchData();
      }, 5000);
      setTimeout(() => {
        clearInterval(this.pollInterval);
      }, 36000000);
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.detail {
  font-size: 12px;
  color: #a0aec0;
}

p {
  margin: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

.progress {
  font-weight: 400;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  background-color: #ffffff;
  margin-bottom: 8px;
}

.btn-blue {
    background-color: #5d91ad;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top : 16px;
    border-radius: 15px;
}

.btn-blue:hover {
  background-color: #48aee6;;
}
</style>
