<script>
import axios from "axios";

export default {
  name: "InputCard",
  components: {},
  data() {
    return {
      links: ["", "", "", "", ""],
    };
  },
  methods: {
    addInput() {
      console.log(this.links);
      this.links.push("");
    },
    deleteInput(counter) {
      this.links.splice(counter, 1);
    },
    submit() {
      let filteredLinks = this.links.filter((link) => link !== "");
      console.log(filteredLinks);

      let accessToken = localStorage.getItem("access_token");

      let config = {
        headers: {
          Authorization: `Bearer ${accessToken}`,
        },
      };

      axios
        .post(
          "/api/request/create/",
          {
            files: filteredLinks,
          },
          config
        )
        .then(() => {
          this.links = ["", "", "", "", ""];
          this.$router.go();
        })
        .catch((err) => {
          alert(err);
        });
    },
  },
};
</script>

<template>
  <div class="input-card">
    <h2 class="title">Insert links here</h2>
    <div class="container">
      <div v-for="(link, counter) in links" v-bind:key="counter">
        <input v-model="links[counter]" class="link-input" />
      </div>

      <div class="bottom-button-container">
        <p class="more-links-button" @click="addInput">Add more</p>
        <button class="compress-button" @click="submit">Compress</button>
      </div>
    </div>
  </div>
</template>

<style scoped>
.input-card {
  flex-basis: 45%;
  background: #cedde4;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 32px;
}
.compress-button {
  background-color: #5d91ad;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}
.more-links-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #5d91ad;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #5d91ad;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
  margin: 8px auto;
}
.link-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px auto;
  box-sizing: border-box;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
}
.bottom-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
</style>
