<template>
  <div class="result-card">
    <h2 class="title">Wait for the result here</h2>
    <div v-if="files.results">
      <FileCard
        v-for="req in files.results"
        :key="req.id"
        :id_prop="req.id"
      />
    </div>
    <div v-else><EmptyResult /></div>
  </div>
</template>

<script>
import FileCard from "./FileCard.vue";
import EmptyResult from "./EmptyResult.vue";
import axios from "axios";

export default {
  name: "ResultCard",
  components: {
    FileCard,
    EmptyResult,
  },
  data() {
    return {
      files: { results: null },
    };
  },
  mounted() {
    let accessToken = localStorage.getItem("access_token");

    let config = {
      headers: {
        Authorization: `Bearer ${accessToken}`,
      },
    };
    try {
      axios
        .get("/api/file/requests/list/", config)
        .then((res) => (this.files = res.data));
    } catch (err) {
      console.warn(err);
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.result-card {
  flex-basis: 45%;
  background: #adc4ce;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 32px;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
</style>
