<template>
  <router-view id="app"></router-view>
</template>

<style>
@import './assets/App.css';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}
</style>
